<div class="navbar-fixed navigation">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="" class="brand-logo">
                    <img src="/img/logo.png" alt="">
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="">Universites</a></li>
                    <li><a href="">Instituts</a></li>
                    <li><a href="">Ecoles</a></li>
                    <li><a href=""><span class="icon ion-android-favorite-outline"></span></a></li>
                    <li><a href=""><span class="icon ion-android-contact"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
