<div class="row search-list">
    <div class="container">
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="/img/posts/sample.jpg">
                    <div class="card-title">
                        <a><span class="left-align">Unikin</span></a>
                        <a href="" class="right">
                            <span class="icon ion-android-favorite-outline"></span>
                        </a>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-content-wrapper">
                        <a href="" class="center-align">
                            Universite de Kinshasa
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="/img/posts/sample-1.jpg">
                    <div class="card-title">
                        <a href=""><span class="left-align">Upc</span></a>
                        <a href="" class="right">
                            <span class="icon ion-android-favorite-outline"></span>
                        </a>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-content-wrapper">
                        <a href="">
                            Universite Protestante du Congo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>