<div class="row menu">
    <div class="container">
        <ul>
            <li>
                <a href="" class="actink-link">
                    <i class="icon ion-android-bookmark"></i>
                    <span class="hide-on-small-only">Profile</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon ion-android-mail"></i>
                    <span class="hide-on-small-only">Messages</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon ion-chatbox"></i>
                    <span class="hide-on-small-only">Commentaires</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon ion-android-contacts"></i>
                    <span class="hide-on-small-only">Abonnes</span>
                </a>
            </li>
        </ul>

    </div>
</div>